# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
speech-to-text/vosk/


# Model weights (too large for GitHub)
**/finetuned_roberta/model.safetensors
*.safetensors
*.bin
last.pt
*.pth

*/target